---
title: age verification standards must withstand political pressure.
date: "2026-6-20"
published: false
description: we shoulld protect children, but not at cost of everyone's privacy
categories:
  - "privacy"
  - "cyrptography"
  - "ethics"
---

# age verification standards must withstand political pressure.

<p class="subtitle">A hopefully nuanced take</p>

With the recent
