---
title: age verification standards must withstand political pressure.
date: "2026-6-20"
published: false
description: we shoulld protect children, but not at cost of everyone's privacy
categories:
  - "privacy"
  - "cyrptography"
  - "ethics"
---

# age verification standards must withstand political pressure.

<p class="subtitle">A hopefully nuanced take</p>

A collection of ideas... All comments are solely based on my opinion alone.

<section>

With recent political activity focusing so heavily on the safety of children,
and privacy being so blatantly violated. I believe there needs to be a line
drawn in the sand somewhere. Either we continue to live the lie of privacy that
more and more people are starting to see through, or we begin to seriously
consider appropriate measures to securely verify factors such as age.

One should note that primarily, it is my opinion that the further push for these
systems will only lead to their misuse in the future. As we enter a political
landscape that seems to become more and more segmented, one-policy focused and
polarized, and Manichaeism reigns, it seems on befitting to me that bad actors
will and go into power, and with that exploit the cracks in systems to their own
benefit, regardless of what it is.

It is also my opinion that it is not the responsibility of the government to
control what a population can consume. This is obviously a more, and I do
believe that children are obsessively using these platforms to their detriment.
However more systemic approaches seem more approachable to me. The banning of
algorithm served content for example would enable the

The EU have already provided their take in the form of
[[https://ageverification.dev]] which has not fallen on deaf ears. It is a
legitimate contender to be a solution for this problem. However I would argue
that its rollout is the largest inherent issue. With only Google handling these
they state alone that the high level requirement Req04 is primarily optional,
but also a vector for tracking regardless if a proof is zero knowledge.
Obviously this leads to the obvious assumption that Google may use this tracking
information to target and track more evidently, as practiced by the last 15-20
years of their business operations. Whilst this is not an essay on trust
necessarily, putting ones faith at a bare minimum, in a megacorp leaves a sour
taste in ones mouth. It has been proven time and time and time again that these
corporations will not do not and will never have the consumers best interests in
mind. It will always be the stakeholders who jeer and rave at the sounds of
personal data and the lobbyists who enable them.

Primarily, with google not providing which ZKP they use outright, it is feasible
for \[them\] to be using a weaker ZKP to begin with.

</section>
